.background {
  viewport-fill: black;
  font-family: System-Regular;
}

rect {x: 0; y: 0; width:100%; height:100%; }

.grey1 {fill: dimgrey; }
.grey2 {fill: slategrey; }
.red1 {fill: crimson; }
.red2 {fill: firebrick; }

text {x: 50%; text-anchor: middle; fill: white; }

.time {y: 80%; font-size: 60; }
.date { y: 70%; font-size: 40; }


.data { y: 80%; font-size: 32; }
.label { x: 5%; text-anchor: start; y: 25%; font-size: 16; }